html {
  background-color: #F0ECDE;
}

.nav-wrapper {
  background-color: rgb(52,60,90);
}

nav ul {
  color: #F0ECDE;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 12px;
  font-weight: lighter;
}

nav .brand-logo {
  color: #F0ECDE;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.card-title,
h1,
h2,
h3
 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #3D556E;
}


.cards-container {
  -webkit-columns: 300px;
  -moz-columns: 300px;
  columns: 300px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.card {
  margin: 0 0 30px 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
