html {
  background-color: #F0ECDE;
}

.nav-wrapper {
  color: #F0ECDE;
  background-color: rgb(52,60,90);
  height: 92px;
}
nav  {
  color: #F0ECDE;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 12px;
  font-weight: lighter;
}
nav ul a {
  color: #F0ECDE;
}

.card-title,
h1,
h2,
h3
 {
  font-family: 'Playfair Display', serif;
  color: #3D556E;
}

h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.cards-container {
  padding: 2em 0px 2em 0px;
  -webkit-columns: 300px;
  -moz-columns: 300px;
  columns: 300px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.card {
  margin: 0 0 30px 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
