html {
  background-color: #f0f0f0;
}

.table-of-contents a.active {
  color: white;
}
.purpleish {
  background-color: rgb(52,60,90);
}

nav ul {
  color: #F0ECDE;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 12px;
  font-weight: lighter;
}

nav .brand-logo {
  color: #F0ECDE;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.card-title,
h1,
h2,
h3
 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #3D556E;
}
.row .col {
  padding: 1.5rem 3rem;
}

.container {
  width: 90%;
}
